@use 'variables' as *;

.app {
    background-color: #fff;
    border-radius: $border-radius-default;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;

    p {
        color: #000;
    }

    .title {
        color: #000;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}