@use 'variables' as *;
@use 'sass:color';

.todo {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: $border-radius-default;
    margin-top: 10px;
    padding: 15px;
    box-shadow: $shadow;

    .content {
        font-size: $font-size-default;
        color: #000;

        &.completed {
            text-decoration: line-through;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        button {
            color: #fff;
            border: none;
            font-size: $font-size-default;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: $shadow;
            margin: 10px;
        }

        .complete {
            width: 120px;
            height: 40px;
            background-color: $confirm-button-color;
            border-radius: $border-radius-default;

            &:hover {
                background-color: color.scale($confirm-button-color, $lightness: -10%);
            }
        }

        .cancel {
            width: 40px;
            height: 40px;
            background-color: $cancel-button-color;
            border-radius: 50%;

            &:hover {
                background-color: color.scale($cancel-button-color, $lightness: -10%);
            }
        }
    }
}